[submodule "src/graph_msgs"]
	path = graph_msgs
	url = https://github.com/PickNikRobotics/graph_msgs.git
[submodule "src/intera_common"]
	path = src/intera_common
	url = https://github.com/RethinkRobotics/intera_common.git
[submodule "src/moveit_visual_tools"]
	path = moveit_visual_tools
	url = https://github.com/ros-planning/moveit_visual_tools.git
[submodule "src/realsense-ros"]
	path = realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/realtime_tools"]
	path = realtime_tools
	url = https://github.com/ros-controls/realtime_tools.git
[submodule "src/rviz_visual_tools"]
	path = rviz_visual_tools
	url = https://github.com/PickNikRobotics/rviz_visual_tools.git
[submodule "src/sawyer_moveit"]
	path = sawyer_moveit
	url = https://github.com/RethinkRobotics/sawyer_moveit.git
[submodule "src/urdf_geometry_parser"]
	path = urdf_geometry_parser
	url = https://github.com/ros-controls/urdf_geometry_parser.git
