<?xml version="1.0" ?>
 <!-- Note: This launch file is used to test the URDF and Meshes
      PLEASE - DO NOT launch this while networked against
      a real Sawyer robot. It will crash the onboard
      robot_state_publisher, and you will need to reboot
      your robot for it to function properly again -->
<launch>
 <!-- Load the URDF into the ROS Parameter Server -->
 <param name="robot_description" command="$(find xacro)/xacro --inorder $(find custom_sawyer_description)/urdf/custom_robot.urdf electric_gripper:=true" />

 <node pkg="tf2_ros" type="static_transform_publisher" name="test_base_to_world" args="0 0 0 0 0 0 1 world base" />
s
<rosparam param="use_tf_static">true</rosparam>
<rosparam param="ignore_timestamp">true</rosparam>

 <node name="sawyer_state_publisher_node" pkg="sawyer_state_publisher" type="sawyer_state_publisher" />

<!--
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find custom_sawyer_description)config/sawyer.rviz" required="true"/>
-->


</launch>
